<!DOCTYPE html>
<html>
<head>
    <title>Status Bot Telegram</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .status-message {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        {% if bot_running %}
            <div class="alert alert-success status-message" role="alert">
                Bot sedang berjalan
            </div>
        {% else %}
            <div class="alert alert-danger status-message" role="alert">
                Bot tidak berjalan
            </div>
        {% endif %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
